@model KancelarijaBoilerplate.Web.Views.KoriscenjeUredjajaModel
@{
    ViewData["Title"] = "GetAllHistory";
}


<table border="1" class="korisceniUredjajiTable">
    <tr>
        <th colspan="4">Koriscenje Uredjaja</th>
        <th colspan="2">Operacije</th>
    </tr>
    <tr>
    <th>Vrijeme Od</th>
    <th>Vrijeme Do</th>
    <th>Ime i Prezime</th>
    <th>Ime Uredjaja</th>
    <th>Delete</th>
    <th>Edit</th>
    <tr>
    @foreach (var k in Model.KoriscenjeUredjaja)
    {

        <tr>
            <td> @k.VrijemeOd </td>
            <td> @k.VrijemeDo </td>
            <td> @k.Osoba.Ime @k.Osoba.Prezime </td>
            <td> @k.Uredjaj.Name </td>
            <td> <a href="DeleteHistory/@k.Id">Delete</a> </td>
            <td> <a href="#">Edit</a> </td>
        </tr>

    }
</table>